
// Colors
$white:                 #ffffff;
$off-white:             #f4f4f4;
$off-black:             #444444;
$deep-blue:             #2a4e84;
// $deep-blue:             rgba(0,60,128,0.82);
$light-blue:            #CBE6F7;
$light-gray:            #f7f7f7;
$dark-gray:             #d7d7d7;
$hover-blue:            #738fb8;
$near-black:            #222222;
$blue:                  #1976D2;
$red:                   #ff5d5a;
// $yellow:

// Typography
$default-font-family:   'source_sans_pro', Helvetica, Sans-Serif !default;
$default-font-size:     14px;
$default-font-weight:   400;

// Links
$link-base-color:       #0000cc;
$link-hover-color:      #ff5555;

$table-row-odd-bg:      #ffffff;
$table-row-even-bg:     darken($table-row-odd-bg, 5%);
$table-row-odd-sort1:   lighten($blue, 42%);
$table-row-even-sort1:  lighten($blue, 40%);

$top-nav-bg: $light-gray;
$left-nav-bg: $deep-blue;

