@import "bootstrap";

@import "_fonts";
@import "_variables";
@import "_mixins";

body {
    margin: 0px;
    font-family: $default-font-family;
    font-size: $default-font-size;
}

a {
    color: $link-base-color;
    text-decoration: none;
    outline: 0 !important;

    &:visited {
        color: $link-base-color;
    }

    &:hover {
        color: $link-hover-color;
        text-decoration: none !important;
    }

    &:active {
        border: none !important;
    }
}

.menu {
    font-style: italic;
    font-size: 11pt;
    color: #0000cc;
    text-decoration: none;
    text-align: left;
}

.menu_selected {
    font-style: italic;
    font-size: 11pt;
    color: #000000;
    text-decoration: none;
    text-align: left;
}

.logout {
    font-style: italic;
    font-size: 11pt;
    color: #000000;
    text-decoration: none;
    text-align: right;
}

.text {
    text-decoration: none;
    color: #000000;
    font-size: 10pt;
}

.required {
    text-decoration: none;
    font-size: 10pt;
    color: #880000;
    font-weight: bold;
}

.bold {
    text-decoration: none;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
}

.alert {
    font-size: 70%;
    color: #FF0000;
    text-decoration: none;
}

.small {
    text-decoration: none;
    color: #000000;
    font-size: 80%;
}

.link {
    text-decoration: none;
    color: #0000cc;
    font-size: 70%;
}

.more {
    text-decoration: none;
    font-size: 70%;
}

.back {
    text-decoration: none;
    font-size: 70%;
}

.link_selected {
    text-decoration: none;
    color: #0000FF;
    font-size: 70%;

    &:visited {
            text-decoration: none;
        color: #0000FF;
        font-size: 70%;
    }
}

.link_submit {
    text-decoration: none;
    color: #000077;
    font-size: 10pt;

    a {
        &:visited {
            color: #000077;
        }

        &:hover {
            color: #ff5555;
        }
    }
}

.items {
    font-size: 6pt;
}

.title {
    font-family: 'ubunturegular' !important;
    font-size: 1.5em;
}

/* see .titlebar below */
.title_bar {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.title_bar_top {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

/*=============================================================
 * Here we have taken variables from globals.php and turned them into CSS classes 
 * these should be used in place of the GLOBAL variables -- JRM March 2008
 *=============================================================*/
.body_top       { background-color: $white; margin: 0px }      /* $top_bg_line */
.bgcolor2       { background-color: $white; }                  /* $GLOBALS['style']['BGCOLOR2'] */
.body_bottom    { background-color: $light-gray; margin: 8px }  /* $bottom_bg_line */
.body_title     { background-color: $blue; color: $white; }               /* $title_bg_line */
.body_nav       { @include navBg(); padding: 0px 0px; }                  /* $nav_bg_line */
.body_filler    { background-color: #f7f0d5; }                  /* $login_filler_line */
.body_login     { background: url('../pic/aquabg.gif') repeat; } /* $login_body_line */
.table_bg       { background-color: #ccc; }                     /* $table_bg */
.bgcolor1       { background-color: #ccc; }                     /* $GLOBALS['style']['BGCOLOR1'] */
.textcolor11    { background-color: #222; }                     /* $GLOBALS['style']['TEXTCOLOR11'] */
.highlightcolor { background-color: #ddd; }                     /* $GLOBALS['style']['HIGHLIGHTCOLOR'] */
.bottom_line    { background: url('../pic/aquabg.gif') repeat; }/* $GLOBALS['style']['BOTTOM_BG_LINE'] */
.logobar        { background-color: #24262c; height: 110px; }   /* $GLOBALS['logoBarHeight'] */
.navbar         { height: 22px; }                               /* $GLOBALS['navBarHeight'] */
.titlebar       { height: 20px; }                               /* $GLOBALS['titleBarHeight'] */

.body_title {
    a#new0 {
    }
}

#past_encounter select {
    background: transparent;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid lighten($blue, 35%);
    border-right: 1px solid lighten($blue, 35%);
    color: $white !important;
    display: block;
    font-family: 'Source Sans Pro';
    font-weight: 100;
    height: 100%;
    margin: 0px;
    -webkit-appearance: button !important;
    -moz-appearance: button !important;

    &:active, &:focus {
        outline: 0 !important;
    }

    option {
        background: transparent;
        color: $white !important;
    }
}

.patient_summary_demographics {
  margin: 0px;
  padding: 0px;

  section.title {
    @include ptSummaryTitle();
    color: $white !important;
    display: block;
    padding: 25px;
    padding-bottom: 0px;
    color: $white;
    font-weight: 100;
    
    h2 {
        // text-transform: uppercase;
        display: inline-block;
        font-family: 'Source Sans Pro';
        font-weight: 100;
        margin-bottom: 25px;
    }

    a[href*="deleter"] {
        border: 1px solid $light-gray;
        background-color: transparent !important;
        color: $white !important;
        font-size: 1.5rem;
        float: right;

        &:before {
            // Add in a times symbol
            // content: "";
        }

        &:hover {
            background-color: $red !important;
            color: $white !important;
        }
    }

    nav {
        font-size: 1.5rem;

        a {
            color: $white !important;
            font-family: 'Source Sans Pro';

            &:hover {
                color: lighten($blue, 35%) !important;
            }
        }
        padding-bottom: 5px;
    }

    table tr td {
        color: $white !important;
    }
  }
  .main {
    margin-left: 25px;
  }
}


/* style taken out of the addressbook code and put here instead */
#addressbook_list {
    td {
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 4px;
        padding-right: 4px;
    }

    a, a:visited, a:hover {
        color:#0000cc;
    }

    tr.search {
        font-size:9pt;
        font-weight:bold;
    }

    tr.head {
        font-size:10pt;
        background-color:#cccccc;
        font-weight:bold;
    }

    tr.detail {
        font-size:10pt;
    }

    .inputtext {
        font-family:monospace;
        font-size:9pt;
        font-weight:normal;
        border-style:solid;
        border-width:1px;
        border-color: #000000;
        background-color:transparent;
    }

    .button {
        font-family:sans-serif;
        font-size:8pt;
        font-weight:bold;        
    }
}

/* styles taken out of templates/report/general_default.html */
#reports_list {
    td {
        font-size:8pt;
        font-family:helvetica;
    }

    a {
        font-size:8pt;
        font-family:helvetica;
    }
}

[href~="deleter"],
[onclick~="delete"] {
    background: $red !important;
}

.section {
    background: $light-gray;
    border-color: $dark-gray !important;
}

/* styles taken out of templates/documents/general_list.html */
#documents_list {
    width: 29%;
    height: 95%;
    overflow: auto; 
    float: left;
    border-right: dashed 1px;

    td {
        font-size:8pt;
        font-family:helvetica;
    }

    a {
        font-size:8pt;
        font-family:helvetica;
    }

    .treeMenuDefault {
        font-style: italic;
    }

    .treeMenuBold {
        font-style: italic;
        font-weight: bold;
    }
}

#documents_actions {
    padding-top: 10px;
    width: 70%;
    height: 95%;
    float: right;
    overflow: auto;

    iframe {
        display: inline;
        border:none; 
        width:100%; 
        height:600px;
        overflow: auto;
    }

    form {
        margin: 0px; padding: 0px;
    }
    
    table {
        width: 100%;
        height: 95%;
    }
}

table {
    tr {
        td {
            // padding: 10px 5px !important;
            // border-bottom: 1px solid $dark-gray;

            // &.even {
            //     background-color: $light-gray !important;
            // }
        }
    }
}

.body_title {
    color: #f9fafc;
    color: -moz-linear-gradient(left,  #f9fafc 0%, #f6f8fb 50%, #f3f5f9 100%);
    color: -webkit-linear-gradient(left,  #f9fafc 0%,#f6f8fb 50%,#f3f5f9 100%);
    color: linear-gradient(to bottom,  #f9fafc 0%,#f6f8fb 50%,#f3f5f9 100%);

    a, .text, .title_bar_top {
        color: #f9fafc;
        color: -moz-linear-gradient(left,  #f9fafc 0%, #f6f8fb 50%, #f3f5f9 100%);
        color: -webkit-linear-gradient(left,  #f9fafc 0%,#f6f8fb 50%,#f3f5f9 100%);
        color: linear-gradient(to bottom,  #f9fafc 0%,#f6f8fb 50%,#f3f5f9 100%);
    }

    select {
        color: $near-black !important;
    }

    table {
        tr {
            td {
                padding: 0px !important;
            }
        }
    }

    #current_patient_block {
        font-weight: 100;
        .text {
            color: rgba(255,255,255,0.85) !important;
        }
        #current_patient {
            color: rgba(255,255,255,0.85) !important;

            b {
                color: $white !important;
                font-weight: 100;
            }
        }
    }
}

/*=============================================================
 * This section relates to the custom layouts that can be made
 * using the OEMR tool in the Admin section. For example, the
 * Patient Demographics are a custom layout.
 *============================================================*/
#DEM {
    .groupname {
        font-weight: bold;
        color: #080;
        font-size: 0.95em;
        padding-right: 5px;
    }
    .label {
        color: #a8a88a !important;
        display: block;
        font-size: 0.95em;
        text-align: right;
        padding-right: 3px;
    }
    .data {
        font-size: 0.95em;
        text-align: left;
        color: $near-black;
        padding-right: 6px;/*30px - ie 6 fix*/
    }
}

/* Patient History */

#HIS {
    .groupname {
        font-weight: bold;
        color: #080;
        font-size: 9pt;
        padding-right: 1px;
        vertical-align: top;
        height: 2em;
    }
    .label {
        font-weight: bold;
        font-size: 9pt;
        vertical-align: top;
    }
    .data {
        font-size: 9pt;
        vertical-align: top;
        text-align: left;
        padding-right: 10px;
    }
}


/*=============================================================
 * Patient Notes
 * seen in the patient summary and notes screens
 *============================================================*/
#pnotes {
    .billing {
        background-color: #dfd;  
    }

    .highlight {
        background-color: #fff;
    }

    table {
        border-collapse:collapse;
    }

    .noterow {
        cursor: pointer; 

        td {
            border-bottom:1px dashed black;
            vertical-align: top;
            padding: 5px;
            margin: 5px;
        }
    }
}

/*=============================================================
 * Patient Stats
 * seen in the patient stats screens
 *============================================================*/
#patient_stats {
    padding: 10px;

    table {
        width: 100%;
        border-collapse: collapse;
    }
    td {
        padding: 3px;
    }
    .statrow {
        cursor: pointer;
    }

    .head {
        font-size:10pt;
        background-color:#cccccc;
        text-align:center;
    }

    .detail {
        font-size:10pt;
        vertical-align: top;
    }

    .btn {
        background-color:transparent;
    }

    .bg1 {
        background-color: #ddddff;
    }
    .bg2 {
        background-color: #ffdddd;
    }

    .center {
        text-align: center;
    }
}

/*=============================================================
 * Patient Stats Summary
 * seen in the patient summary screen
 *============================================================*/
#patient_stats_summary {
    table {
        border-collapse: collapse;
    }
    .noend_noreturn {
        color: #ee0000;
    }
    .noend {
        color: #dd5500;
    }
    .noreturn {
        color: #0000ff;
    }
    .title {
        font-size: 1.1em;
    }
}

#patient_stats_issues {
    width: 100%;
}
#patient_stats_spreadsheets {
    width: 100%;
}
#patient_stats_imm {
    width: 100%;
}
#patient_stats_prescriptions {
    width: 100%;
}

/*=============================================================
 * Patient Past Encounters and Documents
 * seen in the patient encounter screen
 *============================================================*/
#patient_pastenc {
    width:100%;
    .billing_note {
        width: 25%;
    }
    .billing_note_text {
        padding: 5px;
        border: 2px outset black;
        background-color: lightgrey;
    }
    .billing_note_text_highlight {
        background-color:#f7f5d1;
    }
    table {
        border-collapse: collapse;
        width:100%;
    }
    tr {
        cursor: pointer;
    }
    td {
        border-top: 1px solid black;
        vertical-align: top;
    }
    th {
        text-align: left;
    }
    #tooltipdiv {
        position:absolute;
        width:500px;
        border:1px solid black;
        padding:2px;
        background-color:#ffffaa;
        visibility:hidden;
        z-index:1000;
        font-size:9pt;
    }
    .highlight {
        background-color: #fff;
    }
    .tooltip {
        position:absolute;
        border:1px solid #333;
        background:#f7f5d1;
        padding:2px 5px;
        color:#333;
        display:none;
    }
}

/*=============================================================
 * Patient Reports
 * seen in the patient reports screens
 *============================================================*/
#patient_reports {
    width:100%;

    .issues {
        padding-right: 30px;
    }
    .issues table {
        margin: 10px 0px 10px 0px;
    }
    .issues td {
        padding: 2px;
    }
    .encounters td {
        padding: 2px;
    }
    .encounter_forms {
        margin:5px 15px 5px 15px;
    }
    td {
        vertical-align: top;
    }
    ul {
        list-style: none;
    }
}   

/*=============================================================
 * Report - Custom
 * seen as the patient report (custom_report.php)
 *============================================================*/
#report_custom {
    width:100%;

    hr {
        border: 2px dotted black;
    }
    .billing {
        margin: 5px;
        padding: 5px;
    }
    h1 {
        font-size: 120%;
        margin:  0px 0px 5px 0px;
        padding: 0px;
    }
    .immunizations {
        margin: 5px;
        padding: 5px;
    }
    .notes {
        margin: 5px;
        padding: 5px;
    }
    .transactions {
        margin: 5px;
        padding: 5px;
    }
    .communications {
        margin: 5px;
        padding: 5px;
    }
    .documents {
        margin: 5px;
        padding: 5px;
    }
    .demographics {
        margin: 5px;
        padding: 5px;
    }
    .insurance {
        margin: 5px;
        padding: 5px;
    }
    .history {
        margin: 5px;
        padding: 5px;
    }
    .issue {
        margin-left: 20px;
    }
    .issue_type {
        font-weight: bold;
        padding: 5px 0px 5px 0px;
    }
    .issue_diag {
        margin: 0px 20px 0px 20px;
    }
    .issue_title {
    }
    .issue_comments {
    }
    .encounter {
        width: 100%;
        border-top:2px dotted black;
        padding: 10px 5px 10px 5px;
        margin-top: 10px;
    }
    .encounter h1 {
        font-size: 140%;
        margin: 0px;
        padding: 0px;
    }
    .encounter_form {
        margin: 10px;
        padding: 10px;
        border-top: 1px solid gray;
    }
}

#addressbook_list tr.evenrow {
    background-color:#ddddff;
}
#addressbook_list tr.oddrow {
    background-color:#ffffff;
}

tr.odd {
    background-color: $table-row-odd-bg !important;
    td.sorting_1 {
        background-color: $table-row-odd-sort1 !important;
    }
}

tr.even {
    background-color: $table-row-even-bg !important;
    td.sorting_1 {
        background-color: $table-row-even-sort1 !important;
    }
}

/*
 * CSS BUTTONS
 */
@mixin button() {
    background: $blue;
    color: $white !important;
    display: block;
    float: left;
    font-weight: 300;
    margin-right: 3px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
    padding: 5px 12px 5px;
    border: none;

    span {
        display: block;
        // padding: 5px 0 5px 10px;
    }

    &:hover {
        background: darken($blue, 15%)
    }
}

.css_button_small {
    @include button();
    font-size: 9px;
}

.css_button, input[type="button"], button {
    @include button();

    &[href*="deleter"] {
        background: red !important;
    }
}

input[type="button"][style="background-color:#ffff55"] {
    background: $blue !important;

    &:hover {
      background: darken($blue, 15%);
    }
}

input[type="text"] {
    background: $white;
    border: 1px solid $off-black;
    padding: 3px;
    margin: 3px;
}

#logout_link {
    &:before {
        content: "X";
    }
    span {
        display: none;
    }
}

#pt_table {
  thead {
    input.search_init {
      width: 100%;
    }
  }
  tr:hover {
    td {
        background-color: lighten($blue, 13%) !important;
        color: $white;
        cursor: pointer;
    }
  }
}

.sellistclass {
    float:left;
}

.disabled_button {
    color: grey;
}

a.disabled_button:hover {
    color: grey;
}

/*
 * TABS
*/
ul.tabNav { 
    margin: 0;
    padding: 0;
    padding-top: 6px;
    float: left; 
    list-style: none; 
    width: 100%;
    background:#f7f7f7;
    border-bottom: 1px solid #2a4e84;
    font-size: 0.75em;

    li {
        float: left; 
        margin: 0px; 
        padding: 0px 4px;
        vertical-align: bottom;
        text-align: left;
    }

    li.current { 
        a {
            border-top: 3px solid #2a4e84;
            border-left: 1px solid #2a4e84;
            border-right: 1px solid #2a4e84;
            background: #ffffff;
            color: $blue;
        }
    }

    a {
        position: relative;
        bottom: -1px;
        border-left: 1px solid #f7f7f7;
        border-right: 1px solid #f7f7f7;
        border-top: 3px solid #f7f7f7;
        color: #888; 
        display: block; 
        padding: 6px 17px; 
        text-decoration: none; 

        a:hover {

        }
    }
}

div.tabContainer { 
    clear: both; 
    float: left; 
    width: 100%; 
}
div.tabContainer div.tab { border: 1px solid #ffffff; color: #000; display: none; padding: 10px; }
div.tabContainer div.current { display: block; }
div.tab {   min-height: 180px; background: #ffffff none repeat scroll 0 0; margin-bottom: 10px;width:665px;}
div.tab_long {  min-height: 180px; background: #ffffff none repeat scroll 0 0; margin-bottom: 10px;width:100%;}
div.tab p:last-child { margin-bottom: 0; }

div.tab table td {
    padding-right: 1px; padding-bottom: 0px
}

div.tab table td.label {
    min-width:80px;
}

div.tab table td.data {
    min-width:120px; /*170px*/
}

div.notab {
    background: #FFFFFF none repeat scroll 0 0; margin-bottom: 10px; width:100%;
}

div.notab-right {
    background: #FFFFFF none repeat scroll 0 0; margin-bottom: 10px; width:100%;
}

.section-header {
    margin-bottom:5px; width:685px; border-bottom: 1px solid;
}

.section-header-dynamic {
    margin-bottom:5px; border-bottom: 1px solid;
}

.summary_item {
     background:#FFFFFF; padding:8px;
}

/*
* REPORTS
*/

#report_parameters {
    background-color: #ececec;
    margin-top:10px;
}

#report_parameters table {
    border: solid 1px;
    width: 100%;
    border-collapse: collapse;
}
#report_parameters table td {
    padding: 5px;
}

#report_parameters table table {
    border: 0px;
    border-collapse: collapse;
    font-size: 0.8em;
}

#report_parameters table table td.label {
    text-align: right;
}

#report_results table {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
   width: 100%;
   border-collapse: collapse;
   margin-top: 1px;
}
#report_results table thead {
    padding: 5px;
    display: table-header-group;
    background-color: #ddd;
    text-align:left;
    font-weight: bold;
    font-size: 0.7em;
}
#report_results table th {
    border-bottom: 1px solid black;
    padding: 5px;
}
#report_results table td {
    padding: 5px;
    border-bottom: 1px dashed;
    font-size: 0.8em;
}
.report_totals td {
    background-color: #77ff77;
    font-weight: bold;
}

/**
* List-table formatting
**/
.showborder {
width:650px;
}
.showborder td {
border-bottom:1px dashed #000000;
text-align:left;
font-size:9pt;
}
.showborder_head  th {
border-bottom:1px solid #000000;
text-align:left;
font-size:9pt;
}
.shownoborder td {
text-align:left;
font-size:9pt;
}
.showborder_long {
width:100%;
}
.showborder_long tr td{
border-bottom:1px dashed #000000;
text-align:left;
font-size:9pt;
}

/**
* Drug lookup
**/
.drug_lookup{
    font-family: helvetica;
    font-size: 8pt;
    border: 2px outset rgb(102, 102, 102);
    background-color: #eae6ff;
    padding: 5px;
    position: absolute;
    display: block;
}

/* Password alert styles */
.pwdalert {
    display: block;
    width: 390pt;
    margin-left: 100px;
    padding: 10px 10px 10px 15px;
    color: black;
  }
.alertmsg1 { 
    border: 3px solid #fe7b7a;
    background-color: #ffd6d6 ;
  }
.alertmsg2 { 
    border: 3px solid #f56fff;
    background-color: #fabfff;
  }
.alertmsg3 { 
    border: 3px solid #9acc2e;
    background-color: #eef7dd;
  }
/* Password alert styles */

/* Style for red font */
.redtext {
    text-decoration: none;
    color: #FF0000;
    font-size: 10pt;
}
/* Style for red font */

.de_identification_status_message{
    width: 50%;
    border:1px solid #0000FF;
}

.de_identification_input_controls_box{
    width: 100%;
    border:1px solid #0000FF;
}

.de_id_upgrade_login{
    width: 40%;
    border:1px solid Black;
        background-color:#ffffff;
}

// Left Navigation
#navigation-slide,
#navigation-slide * {
    padding-left: 0px;
    margin-left: 0px;
    font-size: 1em !important;

    li {
        list-style: none;
        margin: 0px;

        a {
            background-color: none;
            color: $near-black;
            display: block;
            font-size: 16px;
            padding: 8px 0px 8px 8px;
            width: 100%;

            // Could put dropdown arrows here
            &:after {
            }

            &:hover {
                background-color: $blue;
                color: $white;
                text-decoration: none;
            }

            // Default closed tab
            &.collapsed {

            }

            &.collapsed_lv2 {
                &:before {
                    content: "&nbsp;";
                    width: 0;
                    height: 0;
                    border-bottom: 5px solid transparent;  /* left arrow slant */
                    border-top: 5px solid transparent; /* right arrow slant */
                    border-left: 5px solid #2f2f2f; /* bottom, add background color here */
                    font-size: 0;
                    display: block;
                    float: left;
                    padding-right: 3px;
                }
            }

            // Opened top level
            &.expanded {
                // background: #cbe6f7;
            }

            &.expanded_lv2 {                
                &:before {
                    content: "&nbsp;";
                    width: 0; 
                    height: 0; 
                    border-right: 5px solid transparent;  /* left arrow slant */
                    border-top: 5px solid transparent; /* right arrow slant */
                    border-left: 5px solid #2f2f2f; /* bottom, add background color here */
                    font-size: 0;
                    display: block;
                    float: left;
                    padding-right: 3px;
                }

                display: block;

            }

            img {
                display: none;
            }
        }

        ul li {
            padding-left: 0px;

            a {
              display: block;
              padding-left: 25px;
            }
        }
    }
}

#allergy_ps_expand {
    td:before {
        content: '!';
    }
}

#sddm {
    li {
        margin: 0;
        list-style: none;
        float:left;
        background: $light-gray;

        a {
            display: block;
            margin: 0 1px 0 0;
            padding: 12px;
            color: $blue;
            text-align:left;
            text-decoration: none;

            &:hover {
                background: $dark-gray;
            }
        }
    }

    div {
        position: absolute;
        visibility: hidden;
        display: none;
        margin: 0;
        padding: 0;
        background: $light-gray;
        
        a {
            position: relative;
            display: block;
            margin: 0;
            padding: 5px 10px;
            width: 170px;
            white-space:normal;
            text-align: left;
            text-decoration: none;
            color: #2875DE;
            font-size: 0.8em;
            font-weight:normal;

            &:hover {
                background: $blue;
                color: $white;
            }
        }
    }
}

.text-area{
  background-color:#FFFFFF;
  border:1px solid black;
  width:100%;
  height:100px;
  overflow:auto;
  text-align:left;
}

.example_menu {
    font-size: 70%;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 136px;

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;

        a:hover {
            background : #f5f5f5;
            text-decoration: underline;
        }

        ul {
            display: block;
        }

        li {
            span {
                background: #d9d1a4;
                color: #000;
                display: block;
                font-weight: normal;
                width:100%;
            }
        }
    }

    a {
        color: #000;
        cursor: pointer;
        display: block;
        font-weight: bold;
        margin-left: 0;
        padding: 2px 2px 2px 17px;
        width: 160px;

        .expanded {background: #bbb url('collapse.gif') no-repeat 3px 50%;}
        .collapsed {background: #bbb url('expand.gif') no-repeat 3px 50%;}

        &:hover {text-decoration: none;}


    }
}
.expand_all,
.collapse_all {
    cursor: pointer;
}
#menu1 li, #menu2 li, #menu3 li, #menu4 li, #menu5 li, .example_menu li {
    background-image: none;
    margin: 0;
    padding: 0;
    border-bottom:1px solid white;
}

.example_menu li.active a {
    background: #fff;
}
.example_menu li.active li a {
    background: #e8e8e8;
}
#menu1 li.footer, #menu2 li.footer, #menu3 li.footer, #menu4 li.footer, #menu5 li.footer, .example_menu .footer {
    background: transparent url('footer.jpg') no-repeat 0 0;
    border-top: 2px solid #fff;
    height: 9px;
    line-height: 15px;
    margin: 0 0 10px 0;
    width: 131px;
}
.example_menu .footer span {
    display: none;
}
.cke_contents {
    height: 300px !important;
}

/* Form styles */
.formtable {
    font-size: 13px;
    line-height: 24px;
    tr {
        td {
            line-height: 24px;
        }
    }
}

.report_search_bar {
    background-color:#EADDB4;
}
